* {
  font-family: "Montserrat", sans-serif;
  color: #0c1124;
  background-color: rgb(230, 230, 230);
}

body {
  overflow-x: hidden;
  background-color: rgb(230, 230, 230);
}
body p {
  color: rgba(0, 0, 0, 0.5);
  line-height: 2;
  margin: 0;
}
body .title-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
body .container-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
body .container-button .btn {
  margin: 0;
}
body .container-button .btn-poli,
body .container-button button {
  margin: 0;
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), -5px -5px 20px white;
  border-radius: 20px;
  transition: 0.3s;
}
body .container-button .btn-poli:hover,
body .container-button button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
body .container-button .btn-save:hover {
  color: rgb(0, 191, 0);
}
body .container-button .btn-edit:hover {
  color: orange;
}
body .container-button .btn-delete:hover {
  color: red;
}
body .side-bar {
  height: 100vh;
  width: 20%;
  background-color: rgb(230, 230, 230);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.5), inset -10px -10px 30px white;
}
body .side-bar .logo {
  text-decoration: none;
  height: 150px;
  width: 100%;
  color: #0c1124;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .side-bar .logo h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}
body .side-bar .todo-menu {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .side-bar .todo-menu .todo-menu-item {
  margin-bottom: 25px;
  text-decoration: none;
  color: #0c1124;
  height: 50px;
  width: 90%;
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), -5px -5px 20px white;
  border-radius: 20px;
  transition: 0.3s;
}
body .side-bar .todo-menu .todo-menu-item .recycle-bin {
  position: absolute;
  top: -5px;
  right: -5px;
  height: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 27px;
  background-color: #7e0000;
  border-radius: 100%;
  box-shadow: 0 0 25px red;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(230, 230, 230);
  font-size: 12px;
}
body .side-bar .todo-menu .todo-menu-item:hover .recycle-bin {
  box-shadow: 0 0 0px red;
}
body .side-bar .todo-menu .todo-menu-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
body .side-bar .todo-menu .todo-menu-item i {
  padding: 0 20px;
}
body .side-bar .todo-menu .todo-menu-item p {
  margin: 0;
}
body .content-todo {
  background-color: rgb(230, 230, 230);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  padding-left: 80px;
}
body .content-todo .todo-empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .content-todo .todo-card {
  text-decoration: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 30%;
  margin: 0 15px;
  margin-bottom: 50px;
  padding: 25px;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1), -15px -15px 35px white;
  border-radius: 30px 0 30px 0;
  transition: 0.3s;
}
body .content-todo .todo-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
body .content-todo .todo-card .todo-title {
  color: #0c1124;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .content-todo .todo-card .todo-title h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
body .content-todo .todo-card .todo-slug {
  width: 200px;
}
body .content-todo .todo-card .todo-slug p {
  line-height: 1.5;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
body .content-todo .todo-form {
  padding: 0 90px;
  width: 100%;
}
body .content-todo .todo-form .form-control:focus {
  border-color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.04), 0 0 8px white;
}
body .content-todo .todo-form .todo-content-input {
  height: 30vh;
}/*# sourceMappingURL=main.css.map */